{% extends "base.html" %}

{% block content %}
    <table border="2">
    <caption style="font-size: 29px; color:Black">Каталог усіх замовлень</caption>
        <tbody style="background-color:Teal; border: 1px solid black;" >
{#        <tr>#}
{#            <th>Name</th>#}
{#            <th>Brand</th>#}
{#            <th>Price</th>#}
{#        </tr>#}
{#<a href="{{ url_for('auth.signup') }}" class="navbar-item">#}
{#                            Sign Up#}
{#                        </a>#}
            {% for item in orders %}
                <tr>
                    <td> <a href="{{ url_for('main.profile') }}" class="navbar-item"> {{ item }}> </a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}